@use "variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-ejercicio2 {
  display: flex;
  flex-direction: row;
  // background-color: blue;
  justify-content: space-between;
  padding: 0 3rem;
}

.container {
  background-color: $dark-red;
  width: 7rem;
  height: 5rem;
  margin: 1px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border: 1px solid $base-gray;
  border-radius: 6px;
}
