@use "variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-ejercicio2 {
  display: flex;
  flex-direction: row;
  // background-color: blue;
  justify-content: space-between;
  padding: 0 3rem;
}

// TEMA A

.container-tema-A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :nth-child(2) {
    background-color: $base-red;
  }

  :nth-child(3) {
    background-color: $dark-red;
  }

  :nth-child(4) {
    background-color: $light-red;
  }

  :nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 1rem;
    width: 8rem;
    height: 5rem;

    :nth-child(1) {
      font-family: $font-primary-A;
      font-size: $font-size-primary-A;
    }

    :last-child {
      font-family: $font-secondary-A;
      font-size: $font-size-seconday-A;
    }
  }

  :nth-child(6) {
    box-shadow: -10px 10px 8px 4px $base-shadow;
    background-color: $base-white;
  }
}

.container-tema-B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: yellow;

  > :nth-child(2) {
    background-color: $base-blue;
  }

  :nth-child(3) {
    background-color: $dark-blue;
  }

  :nth-child(4) {
    background-color: $light-blue;
  }

  :nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 1rem;
    width: 8rem;
    height: 5rem;

    :nth-child(1) {
      font-family: $font-primary-B;
      font-size: $font-size-primary-B;
    }

    :last-child {
      font-family: $font-secondary-B;
      font-size: $font-size-secondary-B;
    }
  }

  :nth-child(6) {
    box-shadow: 10px 10px 8px 4px $base-shadow;
    background-color: $base-white;
  }
}

.container {
  background-color: $dark-red;
  width: 7rem;
  height: 5rem;
  margin: 1px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border: 1px solid $base-gray;
  border-radius: 6px;
}
