@use "variables.scss" as *;

.container-tema-B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: yellow;

  > :nth-child(2) {
    background-color: $base-blue;
  }

  :nth-child(3) {
    background-color: $dark-blue;
  }

  :nth-child(4) {
    background-color: $light-blue;
  }

  :nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 1rem;
    width: 8rem;
    height: 5rem;

    :nth-child(1) {
      font-family: $font-primary-B;
      font-size: $font-size-primary-B;
    }

    :last-child {
      font-family: $font-secondary-B;
      font-size: $font-size-secondary-B;
    }
  }

  :nth-child(6) {
    box-shadow: 10px 10px 8px 4px $base-shadow;
    background-color: $base-white;
  }
}
