@use "../variables.scss" as *;

// PAGE CONTAINER
.page-container {
  flex: 1;
  display: flex;
  position: relative;

  // NAV
  nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    background-color: $color-background-nav;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 60px;

    .menu-container {
      .menu-title {
        text-align: center;
        text-transform: uppercase;
        background-color: $color-background-nav;
        padding: 10px 0;
        color: $color-text-white;
      }
    }

    ul {
      list-style: none;

      li {
        background-color: $color-background-li;
        padding: 10px 5px;
        border-bottom: 1px solid $color-gray;
        transition: all 0.2s ease-in;

        a {
          color: $color-text-green;
          text-decoration: none;
          display: block;
        }

        &:hover {
          background-color: $color-background-nav;

          a {
            color: $color-text-white;
          }
        }
      }
    }
  }

  // MAIN
  main {
    flex: 1;
    margin-left: 160px;
    background-color: $color-background-main;

    .list {
      margin: 15px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-around;

      .card {
        background-color: $color-background-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        border: 1px solid $color-gray;
        border-radius: 3px;
        gap: 1rem;
        padding-bottom: 1rem;

        img {
          margin-top: 1rem;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }

        .member-name {
          overflow-wrap: break-word;
          text-align: center;
          padding: 0 10px;
        }
      }
    }
  }
}
