@use "sass:color";
@use "variables" as *;

@mixin gradiente-colors($base-color) {
  .base-color {
    background-color: $base-color;
    color: color.adjust($base-black, $lightness: 50%);
    padding: 10px 20px;
  }

  @for $i from 1 through 4 {
    // DARKENS

    .darken-#{$i} {
      background-color: color.adjust($base-color, $lightness: -($i * 8%));

      & .color-box-text {
        color: color.adjust($base-black, $lightness: (50% + ($i * 10%)));
      }
    }
    // LIGHTENS

    .lighten-#{$i} {
      background-color: color.adjust($base-color, $lightness: ($i * 8%));

      & .color-box-text {
        color: color.adjust($base-black, $lightness: (50% - ($i * 10%)));
      }
    }
  }
}
