main {
  padding: 2rem;
  max-width: 100%;
  overflow-x: hidden;
}

.section-title {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

#top-text::before {
  content: "5";
  font-weight: 900;
}

.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.top-item {
  max-width: 340px;
  min-width: 225px;
  flex: 1 1 225px;
  position: relative;
  overflow: hidden;
  // border-radius: 1px;
  transition: transform 0.3s ease;
  order: 1;
}

.top-item:nth-child(1) {
  order: 5;
}
.top-item:nth-child(2) {
  order: 4;
}
.top-item:nth-child(3) {
  order: 3;
}
.top-item:nth-child(4) {
  order: 2;
}
.top-item:nth-child(5) {
  order: 1;
}

.top-item:hover {
  transform: scale(1.1);
}

.top-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

// first

.first {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 160px;
  // gap: 1rem;
  margin-bottom: 2rem;
}

.first .item {
  min-height: 150px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.first .item:hover {
  transform: scale(1.05);
  z-index: 10;
}

.first .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  display: block;
}

// second

.second {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 2rem;
}

.second .item {
  min-height: 150px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.second .item:hover {
  transform: scale(1.05);
  z-index: 10;
}

.second .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  display: block;
}
