@use "variables.scss" as *;

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  min-width: 350px;
  @media (max-width: $mobile) {
    border-width: 8px 15px;
    border-style: solid;
    border-color: black;
    padding: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px 0;
  font-size: 1.5rem;
  font-family: $text-title;
}

.nav-container {
  background-color: $list-color;
  color: $text-color-white;
}

.list {
  display: flex;
  justify-content: space-between;

  li {
    list-style: none;
    display: flex;
  }

  .list-item {
    text-decoration: none;
    width: 100%;
    color: $text-color-white;
    padding: 14px;
    transition: background-color 0.3s ease-in;
    font-family: $text-menu-items;

    &:hover {
      background-color: $list-color-hover;
      cursor: pointer;
    }

    &:focus {
      background-color: $list-color-hover;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}
