$list-color: rgb(0 106 123);
$list-color-hover: rgb(47 72 88);
$text-color-white: rgb(255 255 255);

// text variables

$text-title: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$text-menu-items: Arial, Helvetica, sans-serif;

// resoluciones
$mobile: 560px;
$desktop: 1024px;
