@use "variables.scss" as *;

body {
  padding: 10px;
  background-color: $color-background;
}

* {
  box-sizing: border-box;
  font-family: $text-main;
  line-height: 1.5rem;
  text-wrap: pretty;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
  gap: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  min-width: 250px;
  max-width: 300px;
  border: 1px solid $color-border;
  background-color: $basic-white;
  // padding: 1rem;
}

.image-container {
  width: 100%;
  background-color: green;
}

.image-container__img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.title {
  font-weight: lighter;
  padding: 0 15px;
}

.description {
  display: grid;
  font-size: $text-s;
  color: $color-text-gray;
  padding: 0 15px;
}

.details {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: ". left";
  align-items: center;
  justify-items: end;
  gap: 1rem;
  font-family: $text-secondary;
  font-size: $text-m;
  padding: 0 15px;
}

.details__name {
  grid-area: left;
}

.details__date {
  color: $color-text-green;
}

.button-info {
  color: white;
  background-color: $color-button;
  border: none;
  padding: 10px 0;
  font-size: $text-l;
  margin: 0 15px 15px;
}
