// colores

$basic-white: rgb(255 255 255);
$color-background: rgb(238 238 238);
$color-border: rgb(196 196 196);
$color-button: rgb(122 190 71);
$color-text-green: rgb(178 198 161);
$color-text-gray: rgb(125, 125, 125);

// letras

$text-main: Arial, Helvetica, sans-serif;
$text-secondary: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$text-s: 0.8rem;
$text-m: 0.9rem;
$text-l: 1.2rem;
