@use "variables.scss" as *;

// base.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// HEADER
header {
  background-color: $color-background-white;
  position: relative;
  z-index: 10;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  input {
    padding: 5px;
  }

  div {
    font-size: 0.9rem;
    color: $color-gray-darker;
  }
}

.page-title {
  background-color: $color-header;
  padding: 15px;
  color: $color-text-white;
  font-size: 1.2rem;
}

// PAGE CONTAINER
.page-container {
  flex: 1;
  display: flex;
  position: relative;

  // NAV
  nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    background-color: $color-background-nav;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 60px;

    .menu-container {
      .menu-title {
        text-align: center;
        text-transform: uppercase;
        background-color: $color-background-nav;
        padding: 10px 0;
        color: $color-text-white;
      }
    }

    ul {
      list-style: none;

      li {
        background-color: $color-background-li;
        padding: 10px 5px;
        border-bottom: 1px solid $color-gray;
        transition: all 0.2s ease-in;

        a {
          color: $color-text-green;
          text-decoration: none;
          display: block;
        }

        &:hover {
          background-color: $color-background-nav;

          a {
            color: $color-text-white;
          }
        }
      }
    }
  }

  // MAIN
  main {
    flex: 1;
    margin-left: 160px;
    background-color: $color-background-main;

    .list {
      margin: 15px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-around;

      .card {
        background-color: $color-background-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        border: 1px solid $color-gray;
        border-radius: 3px;
        gap: 1rem;
        padding-bottom: 1rem;

        img {
          margin-top: 1rem;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }

        .member-name {
          overflow-wrap: break-word;
          text-align: center;
          padding: 0 10px;
        }
      }
    }
  }
}

// FOOTER
footer {
  background-color: $color-background-li;
  padding: 20px;
  color: $color-text-green;
  font-weight: 500;
  text-align: start;
  position: relative;
  z-index: 10;
}

// MEDIA QUERIES PARA MÓVILES
@media (max-width: 768px) {
  .page-container {
    flex-direction: column;

    nav {
      position: sticky;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;

      .menu-container {
        .menu-title {
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          gap: 10px;
          padding: 10px;

          li {
            flex: 1;
            border-bottom: none;

            a {
              text-align: center;
            }
          }
        }
      }
    }

    main {
      margin-left: 0;

      .list {
        justify-content: center;

        .card {
          width: 100%;
          max-width: 500px;
          min-width: 300px;
          height: 150px;
          flex-direction: row;
          justify-content: start;
          padding: 0 20px;

          .member-name {
            text-align: start;
          }
        }
      }
    }
  }

  .toolbar {
    flex-direction: column;
    gap: 10px;
    align-items: stretch;

    input {
      width: 100%;
    }
  }
}
