* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
