// colors

$color-header: rgb(205 222 28);
$color-background-nav: rgb(57 62 6);
$color-background-li: rgb(249 251 227);
$color-background-main: rgb(241 241 241);
$color-background-white: rgb(255, 255, 255);
$color-text-white: rgb(255, 255, 255);
$color-text-green: rgb(92 94 81);
$color-text-black: rgb(105 105 105);
$color-gray: rgb(170, 170, 170);
$color-gray-darker: rgb(102, 102, 102);
