@media (max-width: 760px) {
  .header-logo {
    width: 100%;
    justify-content: flex-start;
  }

  .platform-title {
    display: none;
  }

  .header-buttons {
    width: 100%;
    justify-content: flex-end;
  }

  main {
    padding: 1rem;
  }

  .section-title {
    font-size: 1.2rem;
    margin: 1.5rem 0 0.75rem 0;
  }

  .top {
    gap: 0.75rem;
  }

  .top-item {
    min-width: 250px;
  }

  .top > :nth-child(1),
  .top > :nth-child(2) {
    display: none;
  }

  .first .item:nth-child(n + 5) {
    grid-column: span 2;
  }

  .second {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
}
